.photographer-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.logo-page {
    height: 38px;
    width: 150px;
    margin-top: 30px;
}
  
.photographer-page_logo {
    height: 37.5px;
    left: 20px;
    margin-bottom: 2rem;
    position: absolute;
    top: 40px;
    width: 150px;
}
  
.photographer-page_header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding: 45px 40px;
    background-color: #fafafa;
}
  
.photographer-page_header_content_title {
    color: #d3573c;
    font-size: 35px;
    line-height: 50px;
    margin: 0;
}
  
.photographer-page_header_content_localization {
    color: #911c1c;
    font-size: 20px;
    font-weight: bold;
    margin: 6px 0;
}
  
.photographer-page_header_content_tagline {
    font-size: 15px;
    margin: 0;
    color: #525252;
}
  
.photographer-page_header_content_taglist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 10px 0;
}
  
.photographer-page_header_content_tags {
    border-radius: 12px;
    border: 1px solid #c4c4c4;
    color: #911c1c;
    margin-top: 10px;
    margin-left: 0;
    padding: 0rem 0.5rem;
    text-decoration: none;
}
  
.photographer-page_header_photo {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.photographer-page_dropdown {
    align-self: flex-start;
}
  
.photographer-page_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 46px;
    width: -webkit-fill-available;
}

.photographer-page_gallery_card {
    margin: 16px 0;
}
  
.photographer-page_gallery_media {
    cursor: pointer;
    border-radius: 5px;
    height: 190px;
    object-fit: cover;
    width: 100%;
}

.photographer-page_gallery_media:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
  
.photographer-page_gallery_media:focus {
    border: 1px solid #911c1c;
}
  
.photographer-page_gallery_media_footer {
    display: flex;
    justify-content: space-between;
}
  
.photographer-page_gallery_media_footer_figcaption {
    display: block;
    align-self: center;
    color: #911c1c;
}
  
.photographer-page_gallery_media_footer_like-section {
    display: flex;
    flex-direction: row;
}

.photographer-page_gallery_media_footer_like-section-counter {
    margin: 10px;
    font-weight: 500;
    color: #911c1c;
}
  
.photographer-page_gallery_media_footer_like-section-button {
    background: none;
    border: none;
    color: #911c1c;
    font-size: 1.6rem;
}
  
.photographer-page_contact {
    display: flex;
    justify-content: center;
}
  
.photographer-page_contact_button {
    background-color: #911c1c;
    border-radius: 5px;
    border: none;
    bottom: 1rem;
    color: white;
    cursor: pointer;
    font-size: 23.44px;
    height: 80px;
    left: 50%;
    margin-left: -90px;
    width: 240px;
}

select {
    background-color: #911c1c;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
    height: 59px;
    padding: 0.2rem;
    margin-top: 2rem;
    width: 170px;
}

.dialog-contact-form {
    display: none;
}

.photographer-page_footer {
    display: flex;
    background-color: #db8876;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 70px;
    width: 275px;
    justify-content: space-between;
    padding: 0 24px;
    position: fixed;
    bottom: 0;
    right: 60px;
    font-size: 20px;
}

.photographer-page_footer_aside {
    align-items: center;
    display: flex;
}

.photographer-page_footer_aside_total-likes {
    padding: 4px;
}

.lightbox {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgba(255, 253, 253, 0.96);
}

.lightbox_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 50px;
    padding: 0;
    min-height: 100%;
    color: #911c1c;
}

.lightbox_container img, video {
    width: 90%;
    height: 800px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.lightbox_container div {
    font-size: 20px;
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.lightbox_next, .lightbox_previous {
    background: url(../media/arrow-right.svg) center center / 100% 100%;
    border: none;
    cursor: pointer;
    height: 100%;
    position: fixed;
    width: 36px;
    text-indent: -1000px;
    top: 0;
    right: 0;
    margin: -22px 10px;
}

.lightbox_next:hover, .lightbox_previous:hover, .lightbox_close:hover {
    opacity: 1;
}

.lightbox_previous {
    right: auto;
    left: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.lightbox_close {
    background: url(../media/cross.svg) center center / 100% 100% no-repeat;
    border: none;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
    z-index: 12;
}

.lightbox button {
    cursor: pointer;
    opacity: 0.7;
    text-indent: -10000px;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}

.dialog-contact-form {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: rgba(255, 253, 253, 0.9);
    padding: 24px 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: auto;
}

.form-content {
    background-color: #db8876;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px #888;
    margin: 40px auto;
    padding: 0 25px 120px 25px;
    width: 80%;
    height: 750px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-content header {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content h1 {
    display: flex;
    flex-direction: column;
}

.form-content button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    margin-right: 40px;
}

.close-form-icon {
    font-size: 40px;
}

.formData {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formLabel {
    font-size: 30px;
    font-weight: 400;
}

.formInput {
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 50px;
    font-size: 20px;
}

.formInput:focus {
    outline: 2px solid black;
}

.error-message-text {
    font-size: 15px;
    color: #911c1c;
    font-weight: bold;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.formMessage {
    display: flex;
    border: none;
    resize: none;
    overflow: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 184px;
    width: 99%;
    font-size: 20px;
}

.formMessage:focus {
    outline: 2px solid black;
}

.submit-button {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.submit-button-form {
    background-color: #911c1c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    width: 120px;
}

.submit-button-form:hover, .submit-button-form:focus {
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .dialog-contact-form {
        left: 0;
        overflow: auto;
        padding: 0;
        margin: auto;
    }

    .form-content {
        margin: 40px auto;
        padding: 10px;
        width: 80%;
    }

    .form-content header {
        font-size: 15px;
    }

    .form-content button {
        margin-right: 5px;
    }

    .close-form-icon {
        font-size: 30px;
    }

    .formLabel {
        font-size: 15px;
    }

    .formInput {
        font-size: 12px;
    }

    .submit-button {
        justify-content: center;
    }

    .submit-button-form {
        height: 40px;
        width: 130px;
    }

    .photographer-page_contact_button {
        position: fixed;
        height: 40px;
        width: 200px;
        font-size: 15px;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 5px;
        
    }

    .photographer-page_header {
        background-color: #fff;
    }

    .photographer-page_footer {
        display: none;
    }

    .photographer-page_dropdown {
        padding-left: 40px;
    }

    .logo-page {
        padding-left: 40px;
    }

    .lightbox_container img, video {
        width: 80%;
        height: 600px;
    }

    .lightbox_container div {
        width: 80%;
    }

    .photographer-page_gallery {
        margin-right: 40px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 700px) {
    .photographer-page_gallery {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
    }

    .photographer-page_header_photo {
        height: 150px;
        width: 150px;
    }

    .lightbox_container img, video {
        height: 450px;
    }
}

@media screen and (max-width: 530px) {
    .photographer-page_gallery {
        grid-template-columns: 1fr;
    }

    .photographer-page_header_photo {
        height: 120px;
        width: 120px;
    }

    .photographer-page_dropdown {
        display: none;
    }

    .photographer-page {
        margin-top: 0;
    }

    .photographer-page_header {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .photographer-page_header_content_tags {
        font-size: 13px;
        margin: 2px 2px 0 0;
    }

    .form-content {
        box-shadow: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 1000px;
    }

    .form-content header {
        padding: 10px 20px;
    }

    .formData {
        padding: 0 20px;
    }

    .form-content header h1 {
        font-size: 25px;
        font-weight: 400;
    }

    .close-form-icon {
        font-size: 35px;
        font-weight: 200;
    }

    .lightbox_container img, video {
        height: 300px;
    }

    .lightbox_container div {
        font-size: 18px;
    }

    .lightbox_close {
        width: 20px;
        right: 12%;
        top: 29vh;
    }

    .lightbox_next {
        width: 15px;
        right: 10%;
        align-items: center;
    }

    .lightbox_previous {
        width: 15px;
        left: 10%;
        align-items: center;
    }
}

@media screen and (max-width: 490px) {
    .photographer-page_header_photo {
        height: 110px;
        width: 110px;
    }

    .photographer-page_header_content_taglist {
        margin-top: 4px
    }

    .photographer-page_gallery_card {
        margin: 10px 0;
    }

    .lightbox_close {
        top: 29vh;
        right: 12%;
    }
}

@media screen and (max-width: 400px) {
    .photographer-page_header {
        padding-bottom: 5px;
    }

    .photographer-page_header_content_title {
        font-size: 35px;
        font-weight: 400;
    }

    .photographer-page_header_content_localization {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }

    .photographer-page_header_content_tagline {
        font-size: 13px;
        font-weight: 400;
    }

    .photographer-page_header_photo {
        height: 80px;
        width: 80px;
        flex-shrink: 0;
    }

    .photographer-page_header_content_taglist li {
        font-size: 10px;
    }

    .lightbox_container div {
        font-size: 15px;
    }
}