/* CSS FOR HEADER */
h1 {
    color: #901C1C;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    width: fit-content;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 24px 40px 0 40px;
    overflow: hidden;
}

header img {
    width: 105px;
    background: #fff;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    left: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 90px;
    text-decoration: none;
}

header nav ul li:hover, li.actived, li:focus {
    background-color: #901C1C;
    color: #fff;
    cursor: pointer;
}

/* CSS QUERIES */
@media screen and (max-width: 592px) {
    .filters_navlist {
        max-width: 350px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    header nav ul li {
        margin-bottom: 3px;
    }

    header {
        margin-bottom: 15px;
    }

    header img {
        width: 140px;
    }

    header h1 {
        font-size: 15px;
        font-weight: 300;
    }
}