/* CSS FOR HEADER */
h1 {
    color: #901C1C;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    width: fit-content;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 24px; /* CHECK THIS */
    overflow: hidden;
}

header img {
    width: 96px;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    left: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 90px;
}

/* CSS QUERIES */
